<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="">
  <link rel="icon" type="image/png" href="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    JUDICIARY DMS
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="../assets/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />
</head>
<style>

    a {
        color: #795548;
    }
    .form-control, .is-focused .form-control {
        background-image: none;
    }
    form.col-md-6 {
        border: 1px solid #d2d2d2;
        border-radius: 6px;
        height: 50px;
    }
    .form-control, .is-focused .form-control {
        /* background-image: linear-gradient(0deg,#d2d2d2 2px,rgba(156,39,176,0) 0),linear-gradient(0deg,#d2d2d2 1px,hsla(0,0%,82%,0) 0); */
    }
    .form-control, .is-focused .form-control {
        /* background-image: linear-gradient(to top, #9c27b0 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px); */
    }
    .form-control:invalid {
         background-image: none;
    }
    button.btn.btn-round.btn-just-icon {
        color: #9E9E9E;
        background-color: transparent;
        border-color: transparent;
         box-shadow: none;
    }

</style>

<body class="">
<div class="wrapper ">
  <div class="sidebar" data-color="purple" data-background-color="white">
    <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
    <div class="logo">

      <a href="" class="simple-text logo-normal">

          <img class="img1" style="width:60px" src="../assets/img/judiciary.png">

      </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">

            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#componentsExamples" aria-expanded="true">
                    <i class="material-icons">folder</i>
                    <p>High Court
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse show" id="componentsExamples" style="">
                    <ul class="nav">
                        <li class="nav-item ">
                            <a class="nav-link collapsed" data-toggle="collapse" href="#componentsCollapse" aria-expanded="false">
                                <span class="sidebar-mini"><i class="material-icons">folder</i></span>
                                <span class="sidebar-normal"> Milimani Law Court
                      <b class="caret"></b>
                    </span>
                            </a>
                            <div class="collapse" id="componentsCollapse" style="">
                                <ul class="nav">
                                    <li class="nav-item ">
                                        <a class="nav-link" data-toggle="collapse" href="#componentsCollapse1" aria-expanded="false">
                                            <span class="sidebar-mini"><i class="material-icons">folder</i></span>
                                            <span class="sidebar-normal"> Milimani High Court
                                    <b class="caret"></b>
                                    </span>
                                        </a>

                                        <div class="collapse show" id="componentsCollapse1" style="">
                                            <ul class="nav">
                                                <li class="nav-item ">
                                                    <a class="nav-link" href="">
                                                        <span class="sidebar-mini"><i class="material-icons">folder</i></span>
                                                        <span class="sidebar-normal"> Anti-Corruption</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item ">
                                                    <a class="nav-link" href="">
                                                        <span class="sidebar-mini"><i class="material-icons">folder</i></span>
                                                        <span class="sidebar-normal"> Civil Division</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item ">
                                                    <a class="nav-link collapsed" data-toggle="collapse" href="#componentsCollapse2" aria-expanded="false">
                                                        <span class="sidebar-mini"><i class="material-icons">folder</i></span>
                                                        <span class="sidebar-normal"> Commercial Division
                                                      <b class="caret"></b>
                                                      </span>
                                                    </a>
                                                    <div class="collapse" id="componentsCollapse2" style="">
                                                        <ul class="nav">
                                                            <li class="nav-item ">
                                                                <a class="nav-link" href="#0">
                                                                    <span class="sidebar-mini"><i class="material-icons">folder</i></span>
                                                                    <span class="sidebar-normal"> HC.COMM </span>
                                                                </a>
                                                            </li>

                                                            <li class="nav-item ">
                                                                <a class="nav-link" href="#1">
                                                                    <span class="sidebar-mini"><i class="material-icons">folder</i></span>
                                                                    <span class="sidebar-normal"> HC.COMM.MISC </span>
                                                                </a>
                                                            </li>

                                                            <li class="nav-item ">
                                                                <a class="nav-link" href="#2">
                                                                    <span class="sidebar-mini"><i class="material-icons">folder</i></span>
                                                                    <span class="sidebar-normal"> HC.IC </span>
                                                                </a>
                                                            </li>

                                                            <li class="nav-item ">
                                                                <a class="nav-link" href="#3">
                                                                    <span class="sidebar-mini"><i class="material-icons">folder</i></span>
                                                                    <span class="sidebar-normal"> HC.IN </span>
                                                                </a>
                                                            </li>

                                                            <li class="nav-item ">
                                                                <a class="nav-link collapsed" data-toggle="collapse" href="#componentsCollapse3" aria-expanded="false">
                                                                    <span class="sidebar-mini"><i class="material-icons">folder</i></span>
                                                                    <span class="sidebar-normal"> HC.ITA
                                                                  <b class="caret"></b>
                                                                  </span>

                                                                </a>

                                                                <div class="collapse" id="componentsCollapse3" style="">
                                                                    <ul class="nav">
                                                                        <li class="nav-item ">
                                                                            <a class="nav-link" href="#0">
                                                                                <span class="sidebar-mini"><i class="material-icons">folder</i></span>
                                                                                <span class="sidebar-normal"> 2017 </span>
                                                                            </a>
                                                                        </li>

                                                                        <li class="nav-item ">
                                                                            <a class="nav-link" href="#1">
                                                                                <span class="sidebar-mini"><i class="material-icons">folder</i></span>
                                                                                <span class="sidebar-normal"> 001 </span>
                                                                            </a>
                                                                        </li>
                                                                        <li class="nav-item ">
                                                                            <a class="nav-link" href="#1">
                                                                                <span class="sidebar-mini"><i class="material-icons">folder</i></span>
                                                                                <span class="sidebar-normal"> E0001 </span>
                                                                            </a>
                                                                        </li>

                                                                    </ul>
                                                                </div>


                                                            </li>

                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="nav-item ">
                                                    <a class="nav-link" href="">
                                                        <span class="sidebar-mini"><i class="material-icons">folder</i></span>
                                                        <span class="sidebar-normal"> Constitution and Human Rights  </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item ">
                                                    <a class="nav-link" href="">
                                                        <span class="sidebar-mini"><i class="material-icons">folder</i></span>
                                                        <span class="sidebar-normal"> Criminal Division </span>
                                                    </a>
                                                </li>

                                                <li class="nav-item ">
                                                    <a class="nav-link" href="">
                                                        <span class="sidebar-mini"><i class="material-icons">folder</i></span>
                                                        <span class="sidebar-normal"> Family Division </span>
                                                    </a>
                                                </li>

                                                <li class="nav-item ">
                                                    <a class="nav-link" href="">
                                                        <span class="sidebar-mini"><i class="material-icons">folder</i></span>
                                                        <span class="sidebar-normal"> Judicial Review </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>



                                    </li>

                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
            </li>

            <!-- your sidebar here -->
        </ul>
    </div>
  </div>
  <div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <!--<a class="navbar-brand" href="#pablo">Dashboard</a>-->
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-front">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="#">
                      Rotate <i class="material-icons">arrow_drop_down</i>
                  </a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Hide Page
              </a>
            </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">
                      Expunge/Reduct
                  </a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="#">
                      <i class="material-icons">create</i> Metadata
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">
                      <i class="material-icons">add_comment</i> Tag
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">
                       Convert to Text OCR
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#modal" data-toggle = "modal" data-target= "#modal1">
                      <i class="material-icons">notes</i> Notes
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#pablo">
                       Judgement Writing
                  </a>
              </li>
              <li class="nav-item" style="margin-left:40px">
                  <a class="nav-link" href="#modal" data-toggle = "modal" data-target= "#modal">
                      <i class="material-icons">add_comment</i> New Comment
                  </a>
              </li>
            <!-- your navbar here -->
          </ul>
        </div>
      </div>
    </nav>

      <div class="modal" id="modal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" style="margin-top:10px">Page:</h5>
                      <form class="navbar-form" style="border: 1px solid #d2d2d2;border-radius: 6px; width:140px;margin-top:10px">

                        <span class="bmd-form-group"><div class="input-group no-border" style="height:30px">

                        <input type="number" value="" class="form-control" placeholder="" >
                        <!--<img class="img" src="../assets/img/sort.svg" style="height:30px">-->

                        </div></span>
                      </form>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <p>Comment:</p>
                      <input type="text" value="" class="form-control" placeholder="" >
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Submit</button>
                  </div>
              </div>
          </div>
      </div>

      <div class="modal" id="modal1" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">

                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <p>Notes:</p>
                      <input type="text" value="" class="form-control" placeholder="" >
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Submit</button>
                  </div>
              </div>
          </div>
      </div>


      <!-- End Navbar -->
    <div class="content">
      <div class="container-fluid">

          <div class="row ">

              <h6 style="margin-top:15px;margin-left:25px"> Go to Page: &nbsp;</h6>
              <form  style="border: 1px solid #d2d2d2;border-radius: 6px;">

              <span class="bmd-form-group"><div class="input-group no-border">
                <input type="number" value="" class="form-control" placeholder="" >
                  <!--<img class="img" src="../assets/img/sort.svg" style="height:30px">-->

              </div></span>
              </form>


                  <form class="col-md-6" style="margin-left:5px">
                     <span class="bmd-form-group"><div class="input-group no-border">
                     <input type="text" value="" class="form-control" style="margin-top:5px" placeholder="Search case...">
                     <button type="submit" class="btn btn-round btn-just-icon">
                     <i class="material-icons">search</i>
                     <div class="ripple-container"></div>
                     </button>
                     </div></span>
                  </form>

          </div>

          <div class="row" style="margin-top:20px">
              <div class="col-md-9 text-center">
                  <a href="#">
                      <img class="img" src="../assets/img/image1.jpg" style="width:650px">
                  </a>
              </div><!--end col-md-9-->

              <div class="col-md-3">
                  <h6 style="margin-top:8px"> Page Comments: &nbsp;</h6>

                      <form class="navbar-form" style="border: 1px solid #d2d2d2;border-radius: 6px; width:140px">

                    <span class="bmd-form-group"><div class="input-group no-border">

                     <input type="number" value="" class="form-control" placeholder="" >
                      <!--<img class="img" src="../assets/img/sort.svg" style="height:30px">-->

                        </div></span>
                      </form>

                  <div class="card" style="width: 15rem;height:10rem;margin-top:10px">
                      <div class="card-body">
                          <h4 class="card-title">User:Judge</h4>
                          <p class="card-text">The developer guide for integration with judiciary services.</p>
                          <h6>Date:Jan 17, 2019, 11:45a.m</h6>

                      </div>
                  </div>

                  <div class="card" style="width: 15rem;height:10rem;margin-top:-20px">
                      <div class="card-body">
                          <h4 class="card-title">User:Dr</h4>
                          <p class="card-text">The developer guide for integration with judiciary services.</p>
                          <h6>Date:Jan 13, 2019, 11:45a.m</h6>

                      </div>
                  </div>

                  <div class="card" style="width: 15rem;height:10rem;margin-top:-20px">
                      <div class="card-body">
                          <h4 class="card-title">User:Advocate</h4>
                          <p class="card-text">The developer guide for integration with judiciary services.</p>
                          <h6>Date:Jan 11, 2019, 11:45a.m</h6>

                      </div>
                  </div>

                  <div class="card" style="width: 15rem;height:10rem;margin-top:-20px">
                      <div class="card-body">
                          <h4 class="card-title">User:Admin</h4>
                          <p class="card-text">The developer guide for integration with judiciary services.</p>
                          <h6>Date:Jan 09, 2019, 11:45a.m</h6>

                      </div>
                  </div>

              </div>

          </div><!--end row -->


          <!-- your content here -->
      </div>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <nav class="float-left">
          <ul>

          </ul>
        </nav>
        <div class="copyright float-right">
          &copy;
          <script>
              document.write(new Date().getFullYear())
          </script>
        </div>
        <!-- your footer here -->
      </div>
    </footer>
  </div>
</div>

  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap-material-design.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Plugin for the momentJs  -->
  <script src="../assets/js/plugins/moment.min.js"></script>
  <!--  Plugin for Sweet Alert -->
  <script src="../assets/js/plugins/sweetalert2.js"></script>
  <!-- Forms Validations Plugin -->
  <script src="../assets/js/plugins/jquery.validate.min.js"></script>
  <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script src="../assets/js/plugins/jquery.bootstrap-wizard.js"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="../assets/js/plugins/bootstrap-selectpicker.js"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="../assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
  <script src="../assets/js/plugins/jquery.dataTables.min.js"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="../assets/js/plugins/bootstrap-tagsinput.js"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="../assets/js/plugins/jasny-bootstrap.min.js"></script>
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  <script src="../assets/js/plugins/fullcalendar.min.js"></script>
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script src="../assets/js/plugins/jquery-jvectormap.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="../assets/js/plugins/nouislider.min.js"></script>
  <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
  <!-- Library for adding dinamically elements -->
  <script src="../assets/js/plugins/arrive.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="../assets/js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/material-dashboard.js?v=2.1.1" type="text/javascript"></script>
  <!--&lt;!&ndash; Material Dashboard DEMO methods, don't include it in your project! &ndash;&gt;-->
  <!--<script src="../assets/demo/demo.js"></script>-->

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>
</body>

</html>
